<div class="example-button-row">
  <button mat-fab extended color="primary" (click)="openDialog()" [disabled]="isRowSelected">
    <mat-icon>control_point</mat-icon>
    Novo
  </button>
  <button mat-fab extended color="primary" (click)="openDialog()">
    <mat-icon>edit</mat-icon>
    Editar
  </button>
  <button mat-fab extended color="primary" (click)="deleteSupplier()">
    <mat-icon>delete</mat-icon>
    Remover
  </button>
</div>
<br>
<mat-card>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="supplierType">
      <th mat-header-cell *matHeaderCellDef>Tipo de Fornecedor</th>
      <td mat-cell *matCellDef="let element"> {{element.supplierType}} </td>
    </ng-container>

    <ng-container matColumnDef="observation">
      <th mat-header-cell *matHeaderCellDef>Observação</th>
      <td mat-cell *matCellDef="let element"> {{element.observation}} </td>
    </ng-container>

    <ng-container matColumnDef="favorite">
      <th mat-header-cell *matHeaderCellDef>Favoritar</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.favorite">
          <mat-icon (click)="favoriteSupplier(false, element.id)" style="cursor: pointer;">favorite</mat-icon>
        </div>
        <div *ngIf="!element.favorite">
          <mat-icon (click)="favoriteSupplier(true, element.id)" style="cursor: pointer;">favorite_border</mat-icon>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
  </table>
</mat-card>
