<h1 mat-dialog-title>
  Novo Fornecedor
</h1>
<div mat-dialog-content>
  <form [formGroup]="formNewSupplier">
    <div class="forms-input-user">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tipo de Fornecedor</mat-label>
        <mat-select formControlName="supplierType">
          <mat-option value="ATACADISTA">Atacadista</mat-option>
          <mat-option value="DISTRIBUIDOR">Distribuidor</mat-option>
          <mat-option value="FABRICANTE">Fabricante</mat-option>
          <mat-option value="VAREJISTA">Varejista</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      Telefones
      <div style="display: flex">
        <mat-form-field appearance="fill">
          <mat-icon matSuffix>phone</mat-icon>
          <input type="text" mask='(00) 0 0000-0000' matInput formControlName="phoneNumbers">
        </mat-form-field>
        <div style="padding-top: 15px; padding-left: 15px;">
          <mat-icon style="cursor: pointer;" (click)="addPhoneToUser()">control_point</mat-icon>
          <mat-icon style="cursor: pointer;">delete</mat-icon>
        </div>
      </div>
        <div *ngIf="listPhoneUsers">
          <div *ngFor="let phoneUser of listPhoneUsers" style="display: flex;">
            <mat-form-field appearance="fill">
              <mat-icon matSuffix>phone</mat-icon>
              <input type="text" matInput readonly value="{{ phoneUser }}" mask='(00) 0 0000-0000' formControlName="phoneNumbers">
            </mat-form-field>
            <div style="padding-top: 15px; padding-left: 15px;">
              <mat-icon style="cursor: pointer;" (click)="deletePhoneOfUser(listPhoneUsers.indexOf(phoneUser))">delete</mat-icon>
            </div>
          </div>
      </div>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Observação</mat-label>
        <input matInput type="text" formControlName="observation">
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" color="success">
    Cancelar
  </button>
  <button mat-flat-button color="primary" [disabled]="formNewSupplier.invalid" [mat-dialog-close]="" cdkFocusInitial (click)="save()">
    Salvar
  </button>
</div>
